.markerContent {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  color: red;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white;
}

.marker {
  width: 24px;
  height: 24px;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
}

.marker.red {
  fill: red;
}
.marker.yellow {
  fill: blueviolet;
}

.error {
  color: red;
}

.down {
  position: relative;
  animation-name: down;
  animation-duration: 0.3s;
}

.popup {
  text-align: left;
  max-width: 300px;
}

@keyframes down {
  0% {
    top: -30px;
  }
  100% {
    top: 0;
  }
}
